<!DOCTYPE html>


<html>

<head>
    <title>weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}  

        <p>Use this websit to get your weather</p>

        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>
        <p id="ms1"></p>
        <p id="ms2"></p>
    </div>
 
{{>footer}}
<script src="/js/app.js"></script>

</body>

</html>



